<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Lista de productos</h3>
    <table border="2">
        <tr>
           <th>Producto</th> 
           <th>Categoria</th> 
           <th>precio</th> 
        </tr>
        <tr th:each="product: ${productListAttribute}">
           <td th:text="${product.product_name}"></td> 
           <td th:text="${product.category_name}"></td> 
           <td th:text="${product.price}"></td> 
        </tr>
    </table>
</body>
</html>